table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
    content: " \25B4\25BE";
}

td.col1, td.col4, td.col10 {
    font-size: 18px;
    font-weight: bold;
}
// https://colordesigner.io/gradient-generator used to create steps
// between td.vault278 and td.vault252 with 9 steps and LCH colors
td.vault278, td.master {
    background-color: rgb(170, 220, 170);
}
td.vault275 {
    background-color:rgb(178, 217, 163)
}
td.vault272, td.conqueror {
    background-color:rgb(185, 213, 157)
}
td.vault268 {
    background-color:rgb(192, 210, 151)
}
td.vault265, td.explorer {
    background-color:rgb(198, 206, 147)
}
td.vault262 {
    background-color:rgb(205, 202, 144)
}
td.vault259, td.traveler {
    background-color:rgb(210, 198, 142)
}
td.vault255 {
    background-color:rgb(215, 194, 140)
}
td.vault252, td.tourist {
    background-color: rgb(220, 190, 140);
}
td.vault0, td.rookie {
    background-color: rgb(220, 170, 170);
}