---
layout: default
---

{{ content }}

<table class="sortable">
{% assign characters = site.data.characters | sort: "name" %}
{% for character in characters %}
    {% assign dungeons = character.dungeons | sort: "name" %}
    {% if forloop.first == true %}
    <thead>
        <tr>
        {% for dungeon in dungeons %}
            {% if forloop.first == true %}
            <th>Character Name</th>
            {% endif %}
            <th>{{ dungeon.name }}</th>
        {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% endif %}
        <tr>
            <td><b>{{ character.name }}</b></td>
            {% for dungeon in dungeons %}
                {% capture dung_rank %}
                {% if dungeon.rating.total >= 250 %}
                    "master"
                {% elsif dungeon.rating.total >= 212.5 %}
                    "conqueror"
                {% elsif dungeon.rating.total >= 175 %}
                    "explorer"
                {% elsif dungeon.rating.total >= 125 %}
                    "traveler"
                {% elsif dungeon.rating.total >= 75 %}
                    "tourist"
                {% else %}
                    "rookie"
                {% endif %}
                {% endcapture %}
            <td class={{ dung_rank | strip }}>
                <div class="tooltip">{{ dungeon.rating.total }}
                    <span class="tooltiptext">
                        {% if dungeon.rating.fortified > dungeon.rating.tyrannical %}
                        <div>Fortfied Rating: {{ dungeon.rating.fortified | times: 1.5 }}</div>
                        <div>Tyrannical Rating: {{ dungeon.rating.tyrannical | divided_by: 2.0 }}</div>
                        {% else %}
                        <div>Fortfied Rating: {{ dungeon.rating.fortified | divided_by: 2.0 }}</div>
                        <div>Tyrannical Rating: {{ dungeon.rating.tyrannical | times: 1.5 }}</div>
                        {% endif %}
                    </span>
                </div> 
            </td>
            {% endfor %}
        </tr>
{% endfor %}
    </tbody>
</table>

<div name="scan">Last Character Scan : {{ site.data.scanned.timestamp | date_to_rfc822 }}</div>

