---
layout: default
---

{{content}}

<table>
{%- for character in site.data.characters -%}
    {% if forloop.first == true %}
    <thead>
        <tr>
        {%- for dungeon in character.dungeons -%}
            {%- if forloop.first == true %}
            <th></th>
            {%- endif %}
            <th>{{dungeon.name}}</th>
        {%- endfor %}
        </tr>
    </thead>
    <tbody>
    {% endif %}
        <tr>
            <td><b>{{ character.name }}</b></td>
            {%- for dungeon in character.dungeons -%}
            {% capture dung_rank %}
            {% if dungeon.level >= 15 %}"master"{% elsif dungeon.level >= 10 %}"conqueror"{% else %}"rookie"{% endif %}
            {% endcapture %}
            <td id={{ dung_rank | strip }}>{{ dungeon.level }}</td>
            {%- endfor %}
        </tr>
{% endfor %}
    </tbody>
</table>

<div name="scan">Last Character Scan : {{ site.data.scanned.timestamp | date_to_rfc822 }}</div>