---
layout: default
---

{{ content }}

<table class="sortable">
{% assign characters = site.data.weekly | sort: "name" %}
{% for character in characters %}
    {% if forloop.first == true %}
    <thead>
        <tr>
        {% for key_num in (1..character.dungeons.size) %}
            {% if forloop.first == true %}
            <th>Character Name</th>
            {% endif %}
            <th class="sorttable_nosort col{{ forloop.index }}">{{ key_num }}</th>
        {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% endif %}
        <tr>
            <td><b>{{ character.name }}</b></td>
            {% for dungeon in character.dungeons %}
                {% capture vault_rank %}
                {% if dungeon >= 15 %}
                    vault252
                {% if dungeon >= 14 %}
                    vault249
                {% elsif dungeon >= 12 %}
                    vault246
                {% elsif dungeon >= 11 %}
                    vault242
                {% elsif dungeon >= 10 %}
                    vault239
                {% elsif dungeon >= 8 %}
                    vault236
                {% elsif dungeon >= 7 %}
                    vault233
                {% elsif dungeon >= 5 %}
                    vault229
                {% elsif dungeon >= 2 %}
                    vault226
                {% else %}
                    vault0
                {% endif %}
                {% endcapture %}
            <td title="Item Level {{ vault_rank | strip | remove:'vault' }}" class="{{ vault_rank | strip }} col{{ forloop.index }}">{{ dungeon }}</td>
            {% endfor %}
        </tr>
{% endfor %}
    </tbody>
</table>

<div name="scan">Last Character Scan : {{ site.data.scanned.timestamp | date_to_rfc822 }}</div>

