---
layout: default
---

{{ content }}

<table class="sortable">
{% assign characters = site.data.weekly | sort: "name" %}
{% for character in characters %}
    {% if forloop.first == true %}
    <thead>
        <tr>
        {% for key_num in (1..character.dungeons.size) %}
            {% if forloop.first == true %}
            <th>Character Name</th>
            {% endif %}
            <th class="sorttable_nosort col{{ forloop.index }}">{{ key_num }}</th>
        {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% endif %}
        <tr>
            <td><b>{{ character.name }}</b></td>
            {% for dungeon in character.dungeons %}
                {% capture dung_rank %}
                {% if dungeon >= 15 %}
                    master
                {% elsif dungeon >= 10 %}
                    conqueror
                {% elsif dungeon >= 5 %}
                    explorer
                {% else %}
                    rookie
                {% endif %}
                {% endcapture %}
            <td class="{{ dung_rank | strip }} col{{ forloop.index }}">{{ dungeon }}</td>
            {% endfor %}
        </tr>
{% endfor %}
    </tbody>
</table>

<div name="scan">Last Character Scan : {{ site.data.scanned.timestamp | date_to_rfc822 }}</div>

